body
{
    overflow-x: hidden;
    background-color: rgb(0, 10, 3);
}

img
{
        width: 75px;
        height: 75px;
        margin-left: 20px;
        margin-right: 20px;
}

#foto
{
    width: 600px;
    height: 600px;
    border-radius: 50px;
}

#div1
{
    height: 650px;
    width: 1280px;
    margin-top: 0px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 10px;
}

#divText
{
    width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botaoSc
{
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    background-color: rgba(127, 255, 212, 0);
    font-size: 17px;
    font-weight: 700;
    border-color: rgb(0, 17, 8);
    color: rgb(7, 66, 34);
}
#btn
{
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#greendiv
{
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#topdiv
{
    background-color: rgba(0, 10, 3, 0);
    width: 1280px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
}

#triangulo
{
    width: 0; 
    height: 0; 
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #c57000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#colordiv
{
    background: radial-gradient(#FF9200, #B56800);
    width: 1280px;
    height: 5px;
    z-index: 1;
    position: absolute;
}

#topPrincipal
{
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#imgWpp
{
    width: 50px;
    height: 50px;
    z-index: 0;
}
#imgGmail
{
    width: 50px;
    height: 50px;
    z-index: 0;
}
#imgGitH
{
    width: 50px;
    height: 50px;
    z-index: 0;
}



#divImg1
{
    width: 75px;
    height: 75px;
    background-color: #eb8b0e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 37px;
    z-index: 1;
}
#divImg2
{
    width: 75px;
    height: 75px;
    background-color: #eb8b0e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 37px;
    z-index: 1;
}
#divImg3
{
    width: 75px;
    height: 75px;
    background-color: #eb8b0e;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 37px;
    z-index: 1;
}

#h1tech
{
    color: #ec911a;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 200px;
    text-align: center;
}
